.root {
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.paddingDefault {
  padding: 1.25rem var(--cds-spacing-06);
}

.paddingCompact {
  padding: var(--cds-spacing-04) var(--cds-spacing-05);
}

.paddingFlush {
  padding: 0;
}

@media (max-width: 672px) {
  .paddingDefault {
    padding: var(--cds-spacing-05);
  }
}
