@use "@carbon/layout";
.root {
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.paddingDefault {
  padding: 1.25rem layout.$spacing-06;
}

.paddingCompact {
  padding: layout.$spacing-04 layout.$spacing-05;
}

.paddingFlush {
  padding: 0;
}

@media (max-width: 672px) {
  .paddingDefault {
    padding: layout.$spacing-05;
  }
}
