@use "@carbon/layout";

.result-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: layout.rem(48px);
  min-height: layout.rem(48px);
  padding: 0;
  background-color: var(--cds-layer-01);
  border-bottom: 1px solid var(--cds-border-subtle);

  &__modes {
    display: flex;
    align-items: center;
  }

  &__actions {
    display: flex;
    align-items: center;
  }
}
