@use "@carbon/layout";
.card {
  display: grid;
  gap: layout.$spacing-05;
  margin: 0;
}

.status {
  display: flex;
  align-items: center;
}

.description {
  margin: 0;
}

.description {
  color: var(--cds-text-secondary);
}
