@use "@carbon/layout";

.editorRoot {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.skeletonHeader {
  padding: layout.$spacing-05;
  border-bottom: 1px solid var(--cds-border-subtle);
}

.skeletonBody {
  padding: layout.$spacing-05;
}
