@use "@carbon/layout";
.problem-full-page-solve {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--cds-background);

  &__error-banner {
    padding: layout.$spacing-03;
    flex-shrink: 0;
  }
}
