.spacer {
  display: none;
}

.footer {
  display: none;
}

@media (max-width: 672px) {
  .spacer {
    display: block;
    height: 6rem;
  }

  .footer {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: var(--cds-layer-01);
  }
}
