@use "../tokens" as *;

// Avatar Size Variants
.agentAvatar {
  display: block;

  &--sm {
    width: 20px;
    height: 20px;
  }

  &--md {
    width: 28px;
    height: 28px;
  }

  &--lg {
    width: 40px;
    height: 40px;
  }
}
