.root {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  border: 1px solid var(--cds-border-subtle);
  border-radius: 999px;
  padding: 0.125rem;
  background: var(--cds-layer-01);
}

.iconBtn {
  border-radius: 999px;

  &:global(.cds--btn--ghost) {
    color: var(--cds-icon-secondary);
  }
}

.iconBtnActive {
  &:global(.cds--btn--ghost) {
    color: var(--cds-interactive);
    background: var(--cds-highlight);
  }

  &:global(.cds--btn--ghost:hover) {
    background: var(--cds-highlight);
  }
}
