@use "@carbon/layout";
.sticky-tabs-container {
  background-color: var(--cds-background);
  border-bottom: 1px solid var(--cds-border-subtle);
  width: 100%;

  &--sticky {
    position: sticky;
    z-index: 90;
  }
}

.sticky-tabs-inner {
  width: 100%;
  padding-inline: layout.$spacing-05;
}
